@media screen {
  
}

body{
    overflow-x:hidden;
    padding: 0%;
}
.hea{
    background-color: blueviolet;
    height: 20%;
    padding: -1%;
}

.fondo{
background-color:rgb(249, 242, 242);
}

.noti{
    color:rgb(220, 199, 190);
    text-shadow: 3px 2px 5px rgb(206, 175, 159);
    text-align: center;
    font-size: 60px; 
}

.subtits{
    position: relative;
    bottom: 50%;
    text-align: center;
        
    color:rgb(220, 199, 190);
    text-shadow: 3px 2px 5px rgb(206, 175, 159);
    font-size: 20px;

}

.tab{
     border: radius 10px; ;
     border-spacing:20px;
     
}

.novedad{
    font-size: 20px;
    text-align: center;
}

td{
    border: 0px solid #fffefe;
}

.imag{
    transition:1%;
}

.imag:hover{
    height: 200px; 
}

.catalogo{
    position: relative;
    bottom: 58%;
    left: 83%;
        
    color:rgb(220, 199, 190);
    text-shadow: 3px 2px 5px rgb(206, 175, 159);
    font-size: 20px;
}
.catalogo2{
    position: relative;
    bottom: 90%;
    left: 90%;
        
    color:rgb(220, 199, 190);
    text-shadow: 3px 2px 5px rgb(206, 175, 159);
    font-size: 20px;
}
.catalogo3{
    position: relative;
    bottom: 124%;
    left: 75%;
        
    color:rgb(220, 199, 190);
    text-shadow: 3px 2px 5px rgb(206, 175, 159);
    font-size: 20px;
}
.catalogo4{
    position: relative;
    bottom: 156%;
    left: 66%;
        
    color:rgb(220, 199, 190);
    text-shadow: 3px 2px 5px rgb(206, 175, 159);
    font-size: 20px;
}

.fot{
    background-color: blueviolet;
    height: 20%;
}

.red{
    color:rgb(220, 199, 190);
    text-shadow: 3px 2px 5px rgb(206, 175, 159);
    text-align: left;
    font-size: 20px; 
}